.container { background-color: rgb(142, 86, 177); color: white; font-size: 1.2em; font-weight: bold; padding: 1.5em; text-align: center; }
.headerSecondaryText { font-size: 0.9em; }
.button { background-color: rgb(66, 163, 185); border-radius: 5px; font-size: 0.9em; font-weight: normal; padding: 0.5em; }
.button:hover { cursor: pointer; filter: brightness(110%); }