a { all: unset; }
body { background-color: black; margin: 0; overflow: hidden; }
input { border: unset; outline: unset; }
.container { background-color: rgb(228, 244, 244); height: 100vh; overflow: hidden; width: 100%; }
.outlet { height: 100vh; overflow: hidden; }